.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.left-section {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.hamburger-menu {
  height: 29.5px;
  margin-right: 28px;
  margin-top: -14px;
}

.youtube-logo {
  height: 24px;
  margin-top: -14px;
}

.middle-section {
  flex: 1;
  margin-top: -12px;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 800px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 44px;
  width: 0;
  padding-left: 18px;
  font-size: 16px;
  border-width: 1px;
  border-right: 0;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 19px;
}

.search-button {
  height: 48px;
  width: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  margin-right: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(250, 250, 250);
}

.search-icon {
  height: 30px;
  margin-top: 4px;
}

.voice-search-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.voice-search-icon {
  height: 30px;
  margin-top: 4px;
}

.right-section {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 36px;
  margin-top: -10px;
  flex-shrink: 0;
}

.upload-icon {
  height: 29px;
}

.notifications-icon {
  height: 29px;
  margin-left: -6px;
}

.my-icon {
  height: 39px;
  border-radius: 20px;
}
