.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.right-section {
  background-color: lightskyblue;
  width: 200px;
}

.middle-section {
  background-color: lightslategrey;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}
