.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin-bottom: -100px;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.left-section {
  display: flex;
  padding-left: 30px;
}

.hamburger-menu-bar {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  height: 29.5px;
  cursor: pointer;
  /* margin-right: 28px; */
  margin-top: 6px;
  /* padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px; */
}

.hamburger-menu:hover {
  background-color: lightblue;
  border-radius: 30px;
}

.youtube-logo-bar {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
  padding-right: 14px;
  margin-top: -10px;
  top: 0;
}

.youtube-logo {
  height: 24px;
  margin-top: 4px;
}

.middle-section {
  flex: 1;
  margin-top: -12px;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 800px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 44px;
  width: 0;
  padding-left: 18px;
  font-size: 16px;
  border-width: 1px;
  border-right: 0;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 19px;
}

.search-button {
  height: 48px;
  width: 80px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  border-color: rgb(200, 200, 200);
  margin-right: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(250, 250, 250);
}

.search-icon {
  height: 30px;
  margin-top: 4px;
}

.voice-search-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  background-color: rgb(243, 243, 243);
}

.voice-search-icon {
  height: 30px;
  margin-top: 4px;
}

.right-section {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 36px;
  margin-top: -10px;
  flex-shrink: 0;
}

.upload-icon {
  height: 29px;
}

.notifications-icon {
  height: 29px;
  margin-left: -6px;
}

.notifications-icon-container {
  position: relative;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.notifications-count {
  position: absolute;
  font-size: 13px;
  font-family: Roboto, Arial;
  right: -5px;
  top: -3px;
  background-color: rgb(203, 6, 6);
  border-radius: 18px;
  color: white;
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.my-icon {
  height: 39px;
  border-radius: 20px;
}
