.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin-bottom: -100px;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}

.tooltip {
  position: absolute;
  background-color: rgb(91, 91, 91);
  color: white;
  font-size: 14px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 12px;
  padding-left: 12px;
  margin-left: -28px;
  top: 72px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.15s;
  z-index: 100;
  pointer-events: none;
}

.left-section {
  display: flex;
  padding-left: 30px;
}

.hamburger-menu-bar {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  margin-left: -10px;
}

.hamburger-menu {
  height: 29.5px;
  cursor: pointer;
  margin-top: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.hamburger-menu:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 30px;
}

.youtube-logo-bar {
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 16px;
  padding-right: 14px;
  margin-top: -6px;
  top: 0;
}

.youtube-logo {
  height: 24px;
  margin-top: 4px;
}

.middle-section {
  flex: 1;
  margin-top: -12px;
  margin-right: 35px;
  margin-left: 70px;
  max-width: 800px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 44px;
  width: 0;
  padding-left: 18px;
  font-size: 16px;
  border: 1px solid rgb(200, 200, 200);
  border-right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-size: 19px;
}

.search-button {
  height: 48px;
  width: 80px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  border-color: rgb(200, 200, 200);
  margin-right: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
}

.search-button .tooltip {
  margin-left: 5px;
  top: 72px;
}

.search-button:hover {
  background-color: rgb(241, 241, 241);
}

.search-button:hover .tooltip {
  opacity: 0.9;
}

.voice-search-button .tooltip {
  margin-left: -60px;
  top: 80px;
}

.voice-search-button:hover .tooltip {
  opacity: 0.9;
}

.search-icon {
  height: 30px;
  margin-top: 4px;
}

.voice-search-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.voice-search-button:hover {
  background-color: rgb(228, 228, 228);
}

.voice-search-icon {
  height: 30px;
  margin-top: 4px;
}

.right-section {
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 36px;
  margin-top: -10px;
  flex-shrink: 0;
}

.upload-icon {
  height: 29px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.upload-icon:hover {
  background-color: rgb(231, 230, 230);
}

.right-section .tooltip {
  margin-left: -6px;
  top: 76px;
}

.upload-button:hover .tooltip {
  opacity: 0.9;
}

.notifications-icon {
  height: 29px;
  margin-left: -6px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 30px;
}

.notifications-icon-container .tooltip {
  margin-left: -28px;
  top: 72px;
}

.notifications-icon-container:hover .tooltip {
  opacity: 0.9;
}

.notifications-icon-container {
  position: relative;
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 100px;

  margin-right: 10px;
}

.notifications-icon-container:hover {
  background-color: rgb(231, 230, 230);
}

.notifications-count {
  position: absolute;
  font-size: 13px;
  right: 6px;
  top: 3px;
  background-color: rgb(203, 6, 6);
  border-radius: 100px;
  color: white;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

.my-icon {
  height: 39px;
  border-radius: 20px;
  cursor: pointer;
}
