.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  height: 36px;
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-right: 0;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.search-icon {
  height: 24px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
}

.right-section {
  background-color: lightskyblue;
  width: 200px;
}
