.shorts-grid {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 40px;
}

.shorts-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: self-start;
}

.shorts-logo {
  display: flex;
  width: 110px;
  margin-left: 18px;
  align-items: center;
  justify-content: space-between;
}

.shorts-text {
  font-size: 24px;
  font-weight: bold;
}

.shorts-icon {
  width: 20px;
}

.shorts-image {
  width: 290px;
  border-radius: 14px;
}

.shorts-close-button {
  border: none;
  background-color: white;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.shorts-close-button:hover {
  background-color: rgb(223, 223, 223);
  border-radius: 50px;
}

.shorts-close-button-img {
  width: 30px;
}

.shorts-info-grid {
  margin-top: 10px;
  height: 90px;
  width: 240px;
}

.shorts-info {
  font-size: 19px;
  margin-bottom: 8px;
  font-weight: 500;
}

.shorts-stats {
  color: rgb(96, 96, 96);
}
