.shorts-grid {
  margin-top: 20px;
}

.shorts-header {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.shorts-logo {
  display: flex;
  width: 100px;
  margin-left: 18px;
  justify-content: space-between;
}

.shorts-text {
  font-size: 22px;
  font-weight: bold;
}

.shorts-icon {
  width: 20px;
}

.shorts-image {
  width: 290px;
  border-radius: 14px;
}
