.sidebar {
  position: fixed;

  left: 0;
  bottom: 0;
  top: 80px;
  background-color: white;
  width: 110px;
  z-index: 200;
}

.sidebar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 78px;
  padding-bottom: 20px;
  margin-left: 4px;
  flex-direction: column;
  cursor: pointer;
  transition: background-color 0.3s, border-radius 0.3s;
}

.sidebar-link:hover {
  background-color: rgb(241, 241, 241);
  border-radius: 8px;
}

.sidebar-link img {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-size: 12px;
  display: block;
}
