.thumbnail {
  width: 99%;
  border-radius: 16px;
}

.video-title {
  margin-top: 0;
  font-size: 19px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.video-preview {
  width: 500px;
  height: 410px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-info {
  padding-left: 14px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding-right: 20px;
  margin-top: 100px;
}

.profile-picture {
  width: 48px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 16px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-time {
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  position: absolute;
  bottom: 12px;
  right: 12px;
  border-radius: 4px;
}
